{% extends 'base.html' %}

{% block title %} Добро пожаловать! {% endblock %}

{% block content %}

<h1 class="h3 mb-3 fw-normal">Готовы ли вы к приключениям?</h1>
<h2 class="h5 mb-3 fw-normal">Выберите размер помещения</h2>

<form action="" method="post">
{{ form.hidden_tag() }}

<div class="container">
<div class="row justify-content-md-center mb-4">

    <div class="col-md-1">
        <label class="form-label">{{ form.height.label }}</label>
        {{ form.height(class="form-control form-control-ld") }}
    </div>

    <div class="col-md-1">
        <label class="form-label">{{ form.width.label }}</label>
        {{ form.width(class="form-control form-control-ld") }}
    </div>
</div></div>

<div class="row justify-content-md-center mb-4">
    <label class="form-label">{{ form.room.label }}</label>
    <div class="col-md-2">
        {{ form.room(class="form-select form-select-ld") }}
    </div>
</div>

{{ form.submit(class="btn btn-outline-secondary") }}

</form>
{{ form.error }}

{% endblock %}
